.banner {
    min-height: 200px;
    background-color: $color-dark;
    position: relative;
    display: grid;
    place-items: center;

    &::before {
        content: '';
        width: 40px;
        height: 40px;
        background-color: $color-dark;
        position: absolute;
        bottom: -16px;
        left: 40px;
        transform: rotate(45deg);
    }


    // menu banner start
    &.menu-banner{
        position: relative;
        .back-btn {
            font-size: 20px;
            color: $color-pink;
            position: absolute;
            top: 35%;
            left: 40px;
        }

        .logo {
            max-width:85px;
            display: block;
        }
        .profile-img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin: 30px auto 10px auto;
        }
        .profile-name {
            font-size: 20px;
            color: $color-pink;
        }

        // bg-pink
        &.bg-pink {
            background-color: $color-pink;

            &::before {
                background-color: $color-pink;
            }

            .logo {
                mix-blend-mode: difference;
            }

            .profile-name,
            .back-btn {
                color: $color-dark-blue;
            }
        }

        // bg-white
        &.bg-white {
            background-color: $color-white;

            &::before {
                background-color: transparent;
            }

            .logo {
               opacity: 0;
            }

            .profile-name,
            .back-btn {
                color: $color-dark-blue;
            }
        }
    }
    // menu banner end


     // referral banner start
     &.referral-banner {
        position: relative;
        .back-btn {
            font-size: 20px;
            color: $color-pink;
            position: absolute;
            top: 32%;
            left: 20px;
        }

        &.bg-white {
            @extend .menu-banner.bg-white;

            border-bottom: 1px solid rgba(#707070, 0.2);
            .logo {
                opacity: 1;
                margin-bottom: -50px;
            }
        }
     }
    // referral banner end


}