.menu-list {
    li{
        border-bottom: 1px solid rgba(#707070, 0.2);
        &:first-child {
            border-top: 1px solid rgba(#707070, 0.2);
        }
        a{
            text-align: left;
            padding: 30px 10px 30px 50px;
            display: block;
            color: #0E0325;
            transition: all 0.2s linear;

            &:hover {
                color: $color-pink;
            }

            img {
                padding-right: 20px;
            }
        }
    }
}