/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #1D2226;
  text-align: center;
  max-width: 768px;
  margin: auto;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.bg-pink {
  background-color: #E393F6;
}

.h-2px {
  height: 2px !important;
}

/*===// end of base css === */
/*=== components css start === */
.btn {
  font-size: 18px;
  font-weight: 500;
  color: #1D2226;
  min-height: 50px;
  border: 1px solid #707070;
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}

.btn.dark {
  background-color: #1D1A2F;
  color: #E393F6;
}

.btn.dark:hover {
  background-color: #13111f;
}

.btn.pink {
  background-color: #E393F6;
  color: #1D2226;
  border-color: #E393F6;
}

.btn.pink:hover {
  background-color: #dd7bf4;
}

.btn.pink-outline {
  background-color: transparent;
  color: #E393F6;
  border-color: #E393F6;
}

.btn.pink-outline:hover {
  background-color: #E393F6;
  color: #1D2226;
}

.banner {
  min-height: 250px;
  background-color: #1D1A2F;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.banner::before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: #1D1A2F;
  position: absolute;
  bottom: -16px;
  left: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #1D2226;
}

.title-description {
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 34, 38, 0.6);
}

.call-progressbar, .check-progressbar {
  width: 80%;
  height: 10px;
  border-radius: 25px;
  background-color: #EDEDEE;
}

.call-progressbar .progressbar-innner, .check-progressbar .progressbar-innner {
  height: 100%;
  border-radius: inherit;
  background-color: #E393F6;
  position: relative;
}

.call-progressbar .progressbar-innner .icon, .check-progressbar .progressbar-innner .icon {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
}

.check-progressbar {
  position: relative;
}

.check-progressbar .progressbar-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-group {
  background-color: rgba(29, 26, 47, 0.08);
  border-radius: 10px;
}

.input-group .dropdown-toggle {
  border: none;
  border-right: 1px solid rgba(45, 45, 67, 0.09);
  font-size: 15px;
  font-weight: 400;
  color: #1D2226;
  background-color: transparent;
}

.input-group .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-group .input-group-text {
  background-color: transparent;
  border: none;
  color: rgba(45, 45, 67, 0.5);
}

.input-group .form-control {
  border: none;
  background-color: transparent;
  min-height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #2d2d43;
}

.input-group .form-control ::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(45, 45, 67, 0.5);
}

.input-group .form-control :-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(45, 45, 67, 0.5);
}

.input-group .form-control ::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(45, 45, 67, 0.5);
}

.input-group .form-control ::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(45, 45, 67, 0.5);
}

.input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*===// end of components css === */
/*=== layouts css start === */
.page-footer {
  font-size: 12px;
  font-weight: 400;
  color: #1D2226;
}

.page-footer a {
  color: #E393F6;
  text-decoration: underline;
}

/*===// end of layouts css === */
/*=== pages start === */
.welcome .title {
  font-size: 30px;
}

.welcome .title-description {
  font-size: 20px;
}

.welcome .mian-content {
  min-height: calc(100vh - 250px);
  padding-bottom: 80px;
}

.welcome img {
  position: absolute;
  z-index: -1;
}

.welcome img.top-right {
  top: -100px;
  right: -100px;
}

.welcome img.bottom-right {
  bottom: -100px;
  right: -100px;
}

.welcome img.bottom-left {
  bottom: -100px;
  left: -100px;
}

/*===// end of pages  === */
/*# sourceMappingURL=style.css.map */